button {
    display:block;
    color: purple;
  }
  
  li {
    list-style-type: none;
  }

  #start-button {
    background-color: #800080; /* Purple color code */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove button border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor on hover */
}

#start-button:hover {
    background-color: #4B0082; /* Darker purple on hover */
}

#view-scores {
  background-color: green;
  color: white;
  padding:  10px 20px;
  border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
}

#view-scores:hover {
  background-color: lightgreen;
}